<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Book Shop Online</title>
<link rel="stylesheet" type="text/css" href="css/styles.css">

<script>
$(function(){
$("#include_header").load("header.html");
$("#include_footer").load("footer.html");
});
</script>

</head>
<body>
<!-- <div include="header.html"> -->

<div id="include_header"></div>

<div>
<img src="books1.jpg" alt="Online Books" style="width:800px;height:500px;">
</div>

<div id="include_footer"></div>

</body>
</html>